<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.jxxt.sues">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission
            android:name="android.permission.READ_LOGS"
            tools:ignore="ProtectedPermissions" />

    <application
            android:name=".MyApp"
            android:allowBackup="false"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_round"
            android:theme="@style/AppTheme"
            android:supportsRtl="true">
        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".NewAct"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".ToCalendar"
                android:theme="@style/AppTheme" />
        <activity android:name=".getpage.GetPage" />
        <activity android:name=".ical.IcsInput" />

        <receiver android:name=".widget.NewAppWidget"> <!-- 广播接收器 -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- ListWidgetProvider接收点击tv_refresh的响应事件 -->
                <action android:name="com.jxxt.sues.REFRESH_WIDGET" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/new_app_widget_info" />
        </receiver>
        <service
                android:name=".widget.WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.jxxt.sues.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>